/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body{background: url(../images/bg-body.jpg) bottom center no-repeat, #fff; margin-bottom: 60px; background-size: cover;}
.fondo-cimarron{
	background: #272424;
}
h1,h2,h3,h4,h5,h6,p,a{
	font-family: Arial;
}
.margin-top{margin-top: 25px;}
/* Padding styles
================================================== */
.padding-all {padding: 10px;}
.padding-top {padding-top: 10px;}
.padding-bottom {padding-bottom: 10px;}
.padding-left {padding-left: 10px;}
.padding-right {padding-right: 10px;}

.padding-info-premios{padding: 20px;}
.padding-info-premios-top{padding-top: 20px;}
/* Text align styles
================================================== */
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}


.white{color: #fff;}
.font-comic{font-family: comic;}
/* Text color
================================================== */
/* Display desktop and mobile
================================================== */
.mobile {display: none;}
.desk {display: block;}

.answer{
	background-color: #fff;
    padding: 20px 30px 20px 30px;
    width: 90%;
    margin: 0 auto;
}
.question{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#307833+0,06cb43+50,307833+100 */
background: url(../images/linea-flecha-faq.png) center bottom no-repeat;
background-size: 100%;
width: 90%;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
/*border: 1px solid #1b3174;*/
    padding: 20px 30px 35px 30px;
    margin: 0 auto;
}
h4.question {color: #334a9e; /*text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/}
h4.answer{color: #7e7e7e;}
h4.answer a{color: #334a9e;}

/* Menu mobile
================================================== */

/* Menu desktop
================================================== */
nav{display:block;
margin-top: 10px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c0202+0,b50303+50,8c0202+100 */
background: #334a9e; /* Old browsers */

/*-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;*/
/*border: 1px solid #5a0000;*/
}


.menu{display:block; margin-left: 10px;}

.menu li{display: inline-block;
position: relative;
z-index:100;
margin-right:20px; text-align: center; }

.menu li:first-child{margin-left:0;}

.menu li a {font-weight:600;
text-decoration:none;
padding:15px;
padding-right: 20px;
padding-left: 20px;
display:block;
color:#ffffff;

-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
   vertical-align: middle;
}

.menu li a.casa{color: #ffe01d; font-size: 20px;}


.menu li a:hover, .menu li:hover > a{color:#ffffff;
/*background:#6f0101;*/}

.menu li a:active, .menu li:active > a{color:#ffffff;
/*background:#6f0101;*/}

.active{/*background:#6f0101;*/}



.menu ul {
	display: none;
margin: 0;
padding: 0;
width: 150px;
position: absolute;
top: 48px;
left: 0px;
background: #6f0101;
}

.menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
}
.menu ul li a {font-size:12px;
font-weight:normal;
display:block;
color:#fff;
background:#273e8c;}

.menu ul li a:hover, .menu ul li:hover > a{
background:#334a9e;
color:#fff;
}

.menu li:hover > ul{ display: block;}
.menu ul ul {left: 149px;
	top: 0px;
}

.mobile-menu{display:none;
width:100%;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b0202+0,b40303+50,870202+51,b40303+100 */
background: #334a9e; /* Old browsers */
color:#ffffff;
text-transform:uppercase;
font-weight:600;
text-decoration: none;
}


/*
#margen-menu {margin-left: 10px;}
.mi-menu  li {
    display: block;
    float: left;
    height: 50px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    margin-top: -30px;
}
.mi-menu li a {
  	font-family: comic, Arial, sans-serif;
  	color: #ffe100;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    padding: 15px 15px 15px 15px;
    margin: 5px 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.mi-menu li:first-child a {border-left: none;}
.mi-menu li:last-child a {border-right: none;}

.mi-menu li:hover > a {z-index:100; background: url(../images/fondo-boton.png) no-repeat center center; color: #fff;  background-size: 80%;}

.mi-menu ul {
  	z-index: 1;
    border-radius: 0 0 0px 0px;
    left: 0;
    margin: 0;
    opacity: 0; 
    position: absolute;
    top: 67px; 

    background: #18829c;
  
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.mi-menu li:hover > ul {opacity: 1;}

.mi-menu ul li {
    height: 0; 
    overflow: hidden;
    padding: 0;
   
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
  }
.mi-menu li:hover > ul li {
    height: 36px; 
    overflow: visible;
    padding: 0;
}
.mi-menu ul li a {
  	color: #fff;
    border: none;
    border-bottom: 1px solid #036a83;
    margin: 0;

    padding: 5px 20px;
    width: 90px;
}
.mi-menu ul li a:hover {color:#fff;}

.mi-menu ul li:last-child a { border: none;}
*/
/* #Page Styles
================================================== */
a.social{font-size: 35px; padding-right: 10px; color: #334a9e;}
/*HOME*/
.column-home-left{float: left; display: inline; margin-left: 10px; width: 470px;}
.column-home-right{float: left; display: inline; margin-right: 10px; width: 470px;}
.margin-home-2{margin-top: 10px;}
.margin-facebook{top: -18px;}
.margin-footer{margin-bottom: 20px;}
/* PREMIOS*/
.bg-premios{
	margin-top: 15px;
	/*background: url(../images/bg-premios.png) top center no-repeat; 
	min-height: 800px; */
	background-size: 100%;
}
.bg-super-sorteo{
	margin-top: 15px;
	/*background: url(../images/bg-super-sorteo.png) top center no-repeat, 
	url(../images/bg-super-sorteo-down.png) bottom center no-repeat; 
	min-height: 1500px; */
	background-size: 100%;
}
.slider-content{margin-top: 50px; padding-left: 42px; padding-right: 42px;}
.premios-content{padding-left: 39px; padding-right: 39px;}
.bg-premios-content-colaboradores{background: url(../images/bg-premios-colaboradores.jpg) no-repeat; min-height: 500px; background-size: 100%;}
.premios-left{vertical-align:top; text-align:left; display:inline-block; width: 68%;}
.premios-right{display: inline-block; width: 28%;}
.info-premios{font-size: 16px; line-height: 18px;}
/*.boton{
	display: inline-block;
	width: 32%;
    background: url(../images/bg-boton.png) center center no-repeat;
    padding-top: 13px;
    padding-bottom: 12px;
    background-size: 100%;
    text-decoration: none;
}*/
.boton{
	display: inline-block;
	width: 32%;
    background: #c3e96e;
    padding-top: 13px;
    padding-bottom: 12px;
    background-size: 100%;
    text-decoration: none;
}

.activo{
    background: #9cbe4f;
    padding-top: 13px;
    padding-bottom: 12px;
    background-size: 100%;
}


.boton a{text-decoration: none;}
.boton  h4{color: #fff;}
.titulo-premios{
	margin-top: -15px;
	font-size: 25px; 
	color: #b1ddfb;
	-moz-text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-webkit-text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.titulo-faq{

	color: #b1ddfb;
	-moz-text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-webkit-text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.margin-top-slider{margin-top: 15px; margin-bottom: -40px;}

.bg-form-up{
	background: url(../images/bg-form-up.png) top center no-repeat;
	background-size: 100%;
}

.bg-form-middle{
	background: url(../images/bg-form.png) repeat-y;
	background-size: 100%;
	margin-top: 50px;
}
.bg-form-down{
	background: url(../images/bg-form-down.png) bottom center no-repeat;
	background-size: 100%;
	min-height: 70px;
}
.bg-super-sorteo-form{
	background: url(../images/super-sorteo-form.png) top center no-repeat;
	background-size: 100%;
	min-height: 420px;
	margin-top:-42px; 
}
.woman-phone{margin-top: -40px;}
.bg-videos{
	margin-top: 20px;
	background: url(../images/bg-videos.png) top center no-repeat;
	background-size: 98%;
	min-height: 1660px;
}
.bg-se-colaborador{
	margin-top: 20px;
	background: url(../images/bg-faqs.png) top center no-repeat;
	background-size: 98%;
	min-height: 800px;
}
.bg-iframe{
	margin-top: 20px;
	background: url(../images/bg-iframe.png) top center no-repeat;
	background-size: 98%;
	min-height: 800px;
}
.margin-top-video{margin-top: 330px;}

#bg-faq{
	background: url(../images/pattern.png) repeat;
	margin-top: 30px;
}



/* #Media Queries
================================================== */

@media only screen and (min-width: 1200px) {

	.column-home-left{float: left; display: inline; margin-left: 10px; width: 49%;}
	.column-home-right{float: left; display: inline; margin-right: 10px; width: 49%;}
	.premios-content{padding-left: 45px; padding-right: 45px; margin-bottom: 200px;}
	.premios-left{vertical-align:top; text-align:left; display:inline-block; width: 68%;}
	.premios-right{display: inline-block; width: 28%;}
	.info-premios{font-size: 16px; line-height: 19px;}
	.bg-premios{
			/*background: url(../images/bg-premios.png) top center no-repeat; 
			min-height: 1600px; 
			background-size: 100% 120%;*/
		}
	.bg-super-sorteo{
		/*background: url(../images/bg-super-sorteo.png) top center no-repeat;
		min-height: 1500px;*/
		background-size: 100%;
	}
		.titulo-premios{
			font-size: 30px; 
			color: #b1ddfb;
			-moz-text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
			-webkit-text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
			text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		}
		.boton{
			display: inline-block;
			width: 32%;
		    background: #c3e96e;
		    padding-top: 13px;
		    padding-bottom: 12px;
		    background-size: 100%;
		    text-decoration: none;
		}
		.boton a{text-decoration: none;}
		.boton a h4{color: #fff;}
		.activo{
		    background: #9cbe4f;
		    padding-top: 13px;
		    padding-bottom: 12px;
		    background-size: 100%;
		}
		

		.menu{display:block; margin-left: 90px;}
		.menu li{display: inline-block;
		position: relative;
		z-index:100;
		margin-right:30px; text-align: center;}

		.menu li:first-child{margin-left:0;}

		.menu li a {font-weight:600;
		text-decoration:none;
		padding:15px;
		padding-right: 20px;
		padding-left: 20px;
		display:block;
		color:#ffffff;

		-webkit-transition: all 0.2s ease-in-out 0s;
		   -moz-transition: all 0.2s ease-in-out 0s;
		   -o-transition: all 0.2s ease-in-out 0s;
		   -ms-transition: all 0.2s ease-in-out 0s;
		   transition: all 0.2s ease-in-out 0s;
		}
		.enlace-center{padding-top: 10px;}
		.bg-form-middle{
			background: url(../images/bg-form.png) repeat-y;
			background-size: 100%;
			margin-top: 65px;
		}
		
}

@media only screen and (min-width: 959px) and (max-width: 1200px) {
	.menu li a {font-weight:600;
		text-decoration:none;
		padding:15px;
		padding-right: 15px;
		padding-left: 15px;
		display:block;
		color:#ffffff;

		-webkit-transition: all 0.2s ease-in-out 0s;
		   -moz-transition: all 0.2s ease-in-out 0s;
		   -o-transition: all 0.2s ease-in-out 0s;
		   -ms-transition: all 0.2s ease-in-out 0s;
		   transition: all 0.2s ease-in-out 0s;
		}
		.bg-videos{
			margin-top: 20px;
			background: url(../images/bg-videos2.png) top center no-repeat;
			background-size: 98%;
			min-height: 1660px;
		}
		
}
	#btn-gracias
		{
			margin-top:-110px;
		}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#btn-gracias .ocultar {
			display: none;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		.column-home-left{float: left; display: inline; margin-left: 10px; width: 374px;}
		.column-home-right{float: left; display: inline; margin-right: 10px; width: 374px;}
		.premios-content{padding-left: 32px; padding-right: 32px;}
		.info-premios{font-size: 14px; line-height: 13px; margin-top: -18px;}
		.titulo-premios{
			margin-top: -15px;
			font-size: 25px; 
		}
		.bg-premios-content{}
		.bg-premios{
			/*background: url(../images/bg-premios.png) top center no-repeat; 
			min-height: 680px; */
			background-size: 100%;
		}
		#btn-gracias
		{
			margin-top:-70px;
		}

		#btn-gracias .ocultar {
			display: none;
		}
		.bg-form-down{
			background: url(../images/bg-form-down.png) bottom center no-repeat;
			background-size: 100%;
			min-height: 50px;
		}
		.menu{display:none;}

		.mobile-menu{display:block;}
		.menu{ margin-left: 0px;}

		nav{margin:0;
		background:none; border: none;}

		.menu li{display:block;
		margin:0;}

		.menu li a {background:#1e3484;
		color:#fff;
		text-decoration: none;
		border-top:1px solid #e0e0e0;
		border-left:3px solid #0f246f;}

		.menu li a:hover, .menu li:hover > a{
		background:#1e3484;
		color:#fff;
		border-left:3px solid #1e3484;}

		.menu ul {display:block;
		position:relative;
		top:0;
		left:0;
		width:100%;}

		.menu ul ul {left:0;}
		.bg-videos{
			margin-top: 20px;
			background: url(../images/bg-videos3.png) top center no-repeat;
			background-size: 98%;
			min-height: 1660px;
		}
		.bg-form-middle{
			background: url(../images/bg-form.png) repeat-y;
			background-size: 100%;
			margin-top: 40px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.mobile {display: inline-block;}
    	.desk {display: none;}
    	#btn-gracias
		{
			margin-top:-40px;
		}

		#btn-gracias .ocultar {
			display: none;
		}
		.mainWrap{width:auto;padding:50px 20px;}

		.menu{display:none;}

		.mobile-menu{display:block;}

		.menu{ margin-left: 0px;}

		nav{margin:0;
		background:none; border: none;}

		.menu li{display:block;
		margin:0;}

		.menu li a {background:#1e3484;
		color:#fff;
		text-decoration: none;
		border-top:1px solid #e0e0e0;
		border-left:3px solid #1e3484;}

		.menu li a:hover, .menu li:hover > a{
		background:#1e3484;
		color:#fff;
		border-left:3px solid #1e3484;}

		.menu ul {display:block;
		position:relative;
		top:0;
		left:0;
		width:100%;}

		.menu ul ul {left:0;}

		.boton{
			display: inline-block;
			width: 100%;
		   background: #c3e96e;
		    padding-top: 13px;
		    padding-bottom: 12px;
		    background-size: 100%;
		}
		.answer{width: 80%;}
		.question{width: 80%;}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#btn-gracias
		{
			margin-top:-30px;
		}

		#btn-gracias .ocultar {
			display: none;
		}
		.mainWrap{width:768px;}
		.menu ul {top:0px;}
		.menu li a{font-size:12px;
		padding:8px;}
		.boton{
			display: inline-block;
			width: 100%;
		   background: #c3e96e;
		    padding-top: 13px;
		    padding-bottom: 12px;
		    background-size: 100%;
		    margin-top: 3px;
		    margin-bottom: 3px;
		}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#btn-gracias
		{
			margin-top:-30px;
		}

		#btn-gracias .ocultar {
			display: none;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	@font-face {
	    font-family: 'comic';
	    src: url('../fonts/KOMTXKBI.eot');
	    src: url('../fonts/KOMTXKBI.eot?iefix') format('eot'),
	         url('../fonts/KOMTXKBI.woff') format('woff'),
	         url('../fonts/KOMTXKBI.ttf') format('truetype'),
	         url('../fonts/KOMTXKBI.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
